.cairo {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100svh;
  direction: rtl;
}

body {
  min-height: 100svh;
  padding: 40px 0;
}

h1 {
  margin-bottom: 10px;
}

h1,
h4,
p {
  text-align: center;
}

main {
  margin-inline: auto;
  flex-grow: 1;
  gap: 15px;
  max-width: 800px;
  padding: 20px 10px;
}

.chart-border {
  width: 110px;
  height: 430px;
  border: 4px solid var(--color-border);
  border-radius: 80px;
}

.chart-container {
  width: 90px;
  height: 410px;
  border-radius: 60px;
  overflow: hidden;
}

.bar {
  width: 100%;
  color: var(--color-text-primary);
  font-size: 1.5rem;
  font-weight: 700;
  transition: height 0.5s ease-out;
  height: 0px;
}

.none {
  height: 100%;
  font-size: .8rem ;
}

aside {
  gap: var(--spacing-xl);
}

.info {
  gap: 10px;
}

.legend {
  width: 30px;
  height: 30px;
}

.info div {
  gap: 10px;
}

.student-count {
  padding: 12px 18px;
  margin-top: var(--spacing-md);
  gap: 10px;
}

.interaction-container {
  width: 100%;
}

section {
  margin: 10px auto;
  max-width: 380px;
  padding-inline: 10px;
}
svg {
  fill: red;
}

.interact {
  border: none;
  padding: 15px 15px;
}

.button-container {
  gap: 10px;
}

@media (min-width: 600px) {
  main {
    padding-inline: 40px;
    gap: 100px;
  }

  h1 {
    font-size: 2.5rem;
  }
}
